# Use LF line endings for files both in the repository and working directory
# More info:
#		- https://git-scm.com/docs/gitattributes#_checking_out_and_checking_in
#		- https://git-scm.com/docs/gitattributes#_eol
* text eol=crlf

# Denote all files that are truly binary and should not be modified
*.png binary
*.jpg binary
*.pdf binary
*.exe binary
